.MuiBottomNavigationAction-root {
  color: #ffffff !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #b061ff !important;
}

/* the container where wavesurfer adds the audio waveform */
.waveform-container {
  margin: 0 auto;
  max-width: 80vw;
}

wave {
  background: black;
}

.fx-slider {
  -webkit-appearance: slider-vertical;
}

.fx-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}